.icon {
  font-size: 1.8rem;
  color: $color-black;
  z-index: 10;
  cursor: pointer;
  color: #999;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &-link {
      padding: 0 10px;
      flex: 0 0 15%;
      
      .fa-linkedin-in {
        &:hover {
          color: #0077b5;
        }
      }
      .fa-github {
        &:hover {
          color: #000;
        }
      }
      .fa-envelope {
        &:hover {
          color: #000;
        }
      }
    
    }
  }
}
