.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  text-align: center;

  &__box {
    flex: 0 1 40%;
    transform: skewX(-12deg);
    &:last-child {
      margin-top: 2rem;
    }
  }

  &__card {
    box-shadow: 0px 0px 5px grey;
    border-radius: 3px;
    background-color: rgba($color-white, 0.7);
    width: 100%;
    min-height: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  &__icon {
    font-size: 8rem;
    transform: skewX(12deg);

    &--languages {
      flex: 1 1 33%;
    }

    &--libraries {
      flex: 1 1 33%;
    }

    &--data {
      flex: 1 1 33%;
    }
  }
  .heading-tertiary--skills {
    transform: skew(12deg);
  }
}
